*{
    box-sizing: border-box;
}
nav>ul{
    margin:0px;
    padding: 0px;
    display: block;
    list-style: none;
    background-color:  #d74b54;
    font-family: cursive, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 40px;
}
.keyword{
    display: inline-block;
}
ul>li>a{
    display: block;
    margin: 0vh 0vw;
    padding: 0px 25px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: larger;
    line-height: 45px;
}
li>a:hover{
    background-color: #f8d739;
    border-radius: 5px;
    color: #3b0209;
}